#dtool{
    margin-left: 5px;
    height: 20px;
}

#drawing{
    border: 1px solid #ddd;
    display : block;
    margin : 20px 0;
}

#drawingTemp{
    border: 1px solid #ddd;
    position: absolute;
    top: 42px;
    left: 0;    
}

#sketch{
    margin: 0 auto;
    overflow: auto;
    position: relative;
    width: 502px;
    
    .buttons{
        float: right;
    }
}
