button:not(.bookmark-button):not(.control):not(.add-xblock-component-button):not(.button-component):not(.unbutton):not(.link-button), a.button, input[type="submit"], input.input-main, #main .content-primary button, #main .content-primary html input[type="button"], #main .content-primary input[type="reset"], #main .content-primary input[type="submit"], #main .vert-mod button, #main .vert-mod html input[type="button"], #main .vert-mod input[type="reset"], #main .vert-mod input[type="submit"],.unbutton{
        @include box-sizing(border-box);
        background-color: $blue-grey;
        background-image: none;
        border: 1px solid #fff;
        border-radius: 4px;
        box-shadow: none;
        color: white;
        display: inline-block;
        float: left;
        font-size: 14px;
        font-weight: bold;
        height: 42px;
        text-decoration: none;
        text-shadow: none;
        outline: none;
        padding: 10px;
        margin: 5px 10px;
        margin-left: 0;
        -webkit-font-smoothing: antialiased;

        &:hover{
            text-decoration: underline !important;
        }

        &.active{
            border-color: $blue-grey;
            background-color: white;
            color: $blue-grey;
        }               

        &.inactive{
            @include fadeText(fadeOut, ease-in, 0.5s);
        }

        &.appearing{
            @include fadeText(fadeIn, ease-in, 0.5s);
        }

        .btn-icon{
            display: none;
        }
}

        

//drag and drop buttons
.xblock--drag-and-drop .actions-toolbar .action-toolbar-item.sidebar-buttons{
    float: left;
}

.xblock--drag-and-drop .sidebar-buttons .sidebar-button-wrapper {
    border: none;
    padding: 0;
    height: auto;
}


.stepper{
    button{
        float: none !important;
        min-width: 50px;
    }
}