.flow-diagram, .click-to-reveal{
    overflow: auto;
    padding: 20px !important;

    > div{
        display: none;
        margin-bottom: 20px;

        button{
            float: right !important;
            margin-bottom: 0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    > a{
        clear: both;
        color: #333;
        float: right;
        margin-bottom: 20px;
        outline: none;
        padding: 20px;
        &:hover{
            text-decoration: underline;
        }
    }
}

.flow-diagram{
    > div{
        padding-bottom: 20px;
        &.active{
            @include fadeText(fadeIn, ease-in, 2s);
        }

        button{
            margin-top: 20px !important;
        }

    }

    > button{
       margin-top: 20px !important;
    }
    
}

.click-to-reveal{
    > div{
        display: block;
        overflow: auto;
        &.anchor{
            @include fadeText(fadeIn, ease-in, 2s);
        }
        &:not(.anchor){
            @include shrink(0.3s);
        }
        &.active{
            @include grow(1.5s);
        }

        button{
            margin-top: 0 !important;
        }
    }
  
}

