@font-face {
  font-family: 'imperial2';
  src: url('imperial2.eot'); /* IE9 Compat Modes */
  src: url('imperial2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('imperial2.woff') format('woff'), /* Pretty Modern Browsers */
       url('imperial2.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('imperial2.svg#svgFontName') format('svg'); /* Legacy iOS */
}