h2, h4{
    color: black;
    float: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -0.5px;
    margin: 0 0 20px 0;
    text-align: left;
    text-transform: inherit;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
p{
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 0 10px;
    text-transform: inherit;
}

ul, ol{
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
}

li{
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.video-speeds{
    li{
        color: #e7ecee;
    }
}

table{
    margin: 0;
    width: 100%;
    th, td{
        border: 1px solid #333;
        font-size: 14px;
        padding: 10px;
    }
    th{
        background: #eee;
    }
    td{
        background: white;
    }
}