//edx
.studio-xblock-wrapper{
    overflow:auto;
}
//the annoying staff debug info
.wrap-instructor-info{
    display: none;

    &.studio-view{
        display: block;
    }
}
.xmodule_display.xmodule_SequenceModule .sequence-nav{
    border-bottom: none !important;
    z-index: 0 !important;
    position: relative !important;
    width: 79px !important;
    height: 1px !important;
    margin: 2.8315em auto !important;
    text-align: center !important;
    
    ol{
        display: none;
    }
}

.course-wrapper .course-content .vert-mod .vert>.xblock-student_view, .course-wrapper .courseware-results-wrapper .vert-mod .vert>.xblock-student_view{
    border: none !important;
}
.course-wrapper .course-content .vert-mod>div header{
    margin-bottom: -55px;
}


.problem-header, .problem-progress{
    display: none !important;
}

.option-with-image{
    padding: 2px !important;
}


.vert{
    clear: both;
}

.vert-1{
    clear: none;
    float: right;
    width: 33%;
}

.vert-2{
    clear: none;
    float: left;
    width: 64%;
}

#main{
    .content-primary, .vert-mod{
        @import 'fonts';
        @import 'normalise';
        @import 'variables';
        @import 'general';
        @import 'cta';
        @import 'titles'; 
        @import 'elements';  
        @import 'course-structure';  
        @import 'flow-diagram';
        @import 'image-swap';
        @import 'tickbox'; 
        @import 'loader';  
    }
}