//edx
.xmodule_display.xmodule_SequenceModule .sequence-nav{
    border-bottom: none !important;
    z-index: 0 !important;
    position: relative !important;
    width: 79px !important;
    height: 1px !important;
    margin: 2.8315em auto !important;
    text-align: center !important;
    
    ol{
        display: none;
    }
}
.xmodule_display.xmodule_CapaModule div.problem .action{
    margin-top: 0;
    overflow: auto;
}

.problem-header, .problem-progress{
    display: none !important;
}

.option-with-image{
    padding: 2px !important;
}

.xblock--drag-and-drop .popup{
    background-color: rgba(173, 13, 13, 0.5) !important;
    top: 50% !important;
    left: 50% !important;
    padding: 5px;
    margin-left: -105px !important;
    width: 200px !important;
    p{
        font-weight: bold;
    }
}

.xblock--drag-and-drop{
    max-width: 100% !important;
}

#main{
    .content-primary, .vert-mod{
        @import 'fonts';
        @import 'normalise';
        @import 'variables';
        @import 'general';
        @import 'cta';
        @import 'titles'; 
        @import 'elements';  
        @import 'course-structure';  
        @import 'flow-diagram';
        @import 'image-swap';
        @import 'tickbox'; 
        @import 'loader';  
    }
}