.pathway{
    text-align: left;
    ul{
        &.controls{
            display: block;
            clear: both;
            text-align: center;
            li{
                display: none;
                
                &.active{
                    display: inline-block;
                }
                
                button{
               
                    &:hover{
                        text-decoration: underline;
                    }
                }
               
            }
        }
        &:not(.controls){
            display: none;
            margin: 0 auto;
            padding: 10px 0;
            &[aria-hidden="false"]{
                display:block;
            }
            p{
                font-weight: bold;
                text-decoration: underline;
            }
            li{
                float: left;
                margin-bottom: 12px;
                &.chosen{
                    height: 200px;
                    width: 33.333333333%;
                    z-index: 100;
                }
                a{
                    @include box-sizing(border-box);
                    border: 1px solid #ddd;
                    display: block;
                    position: relative;
                    background: #fff;
                    border-radius: 4px;
                    height: 100%;
                    overflow: hidden;
                    margin: 0 2%;
                    text-align: left;
                    text-decoration: none;
                    width: 96%;
                    
                    &:after{
                            @include box-sizing(border-box);
                            @include fadeIn(.5s);
                            background: rgba(0, 0, 0, 0.8);;
                            color: white;
                            content : 'Go to lesson';
                            display: block;
                            font-size: 18px;
                            height: 100%;
                            line-height: 130px;
                            opacity: 0;
                            padding: 20px;
                            position: absolute;
                            text-align: center;
                            top: 0;
                            left: 0;
                            width: 100%;
                        }
                        
                        &:hover{
                            &:after{
                                opacity: 1;
                            }
                        }
                  
                    div{
                        border-top: 1px solid #333;
                        display: block;
                        font-weight: bold;
                        height: 50px;
                        padding: 15px 20px;
                        
                        
                        span{
                            margin-bottom: 10px;
                            &:first-of-type{
                                width: 10%;
                                float: left;
                            }
                            &:last-of-type{
                                width: 90%;
                                float: right;
                            }
                        }
                        
                        p{
                            clear: both;
                            font-size: 12px;
                            font-style: italic;
                            font-weight: normal;
                            text-decoration: none;
                        }
                    }
                    img{
                       width: 100%;

                    }
                }
            }

        }
    }
}