.activity-slider{
    width: 100%;
    max-width: 500px;
    height: 50px;
     &.diagnostic-slider{
         .bar{
               background: #fa8484; /* Old browsers */
                background: -moz-linear-gradient(left,  #fa8484 0%, #cef097 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  #fa8484 0%,#cef097 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  #fa8484 0%,#cef097 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa8484', endColorstr='#cef097',GradientType=1 ); /* IE6-9 */
         }
     }
    .bar{
        background: black;
        top: 10px;
        height: 10px;

        &.bar-1{
            background: $grey;
        }
    }
     .handle{
            background: $accent-color;
            border-radius: 30px;
            top: 1px;
            width: 30px;
            height: 30px;
            line-height: 30px;

            .handler{
                color: #fff;
                text-align: center;
            }
     }

    
}