.activity.tickbox{

    table{
        table-layout: fixed;
    }
    tr{
        height: 40px !important;
        overflow: hidden;
    }
    td{
        line-height: 40px !important;
        vertical-align: middle;
        &:not(:first-child){
            img{
                @include fadeText(fadeIn, ease-in, 0.5s);
                display: block;
                margin: 0 auto;
                padding: 0;
                text-align: center;
            }
        }

        &.correct{
            @include fadeBackground(0.5s);
            background: $correct;
        }

        &.incorrect{
            @include fadeBackground(0.5s);
            background: $incorrect;
        }
    }
}