$accent-color: #2DBBAA;
$med-grey: #b3b6ba;
$light-grey: #f5f5f5;
$grey: #85888d;
$accent-blue: #0076B2;
$main-color: #333;
$blue-grey: #6593B7;
$highlight: #FFFFEA;
$key-area: #F2F3F5;
$incorrect: #fa8484;
$correct: #cef097;
$edx-accent: #0d4e6c;
$edx-lighter-accent: #255f7a;

@mixin blinking(){
    -webkit-animation: fadeIn 1.5s linear infinite;
    -moz-animation: fadeIn 1.5s linear infinite;
    animation: fadeIn 1.5s linear infinite;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin fadeIn($d){
     transition: opacity $d ease-out;
    -moz-transition: opacity $d ease-out;
    -webkit-transition: opacity $d ease-out;
    -o-transition: opacity $d ease-out;
}
@mixin fadeBackground($d){
 -webkit-transition: background $d linear;
        -moz-transition: background $d linear;
        -ms-transition: background $d linear;
        -o-transition: background $d linear;
        transition: background $d linear;
}

@mixin fadeText($what, $type, $d) {
    display:block;
    opacity: 0;
     -webkit-animation:$what $type 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
        -moz-animation:$what $type 1;
        animation:$what $type 1;
        
        -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;

        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        animation-duration:1s;
        
        -webkit-animation-duration:$d;
        -moz-animation-duration:$d;
        animation-duration:$d;

}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; height: 0; padding: 0; margin: 0;} }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; height: 0; padding: 0; margin: 0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; height: 0; padding: 0; margin: 0; } }

@mixin shrink($s){
    max-height: 0;
	overflow: hidden;

	/* Set our transitions up. */
	-webkit-transition: max-height $s;
	-moz-transition: max-height $s;
	transition: max-height $s;
}

@mixin grow($s){
    max-height: 1000px !important;
	overflow: hidden;

	/* Set our transitions up. */
	-webkit-transition: max-height $s;
	-moz-transition: max-height $s;
	transition: max-height $s;
}

@mixin fontExpand(){
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

@mixin rotate($r){
     -ms-transform: rotate($r); /* IE 9 */
    -webkit-transform: rotate($r); /* Chrome, Safari, Opera */
    transform: rotate($r);
}

@mixin bgimage($name) {
  $url:"https://courses.edx.org/asset-v1:ImperialBusinessX+ICBS002+3T2016+type@asset+block@#{$name}.png";
  background-image: url($url);
}
