html, body{
    min-height: 100%;
}

main{
    padding: 20px;
    margin: 100px auto 80px;
}

#shopping-list{
    li{
        @include col(1,4);
        padding: 10px;

        > div{
            border: 1px solid $accent;
            padding: 10px;
 
            .image-wrap{
                height: 150px;
                overflow: hidden; 
                width : 100%;

                img{
                    display: block;
                    height: auto;
                    margin: 0 auto;
                    max-width : 150px;
                    width: 100%; 
                }
            }

            .button-wrap{
                border: 1px solid #333;
                height: 32px;
                position: relative;
                margin: 10px 0;
                width: 100%;

                button{
                    &:first-of-type{
                        left: 0;
                    }
                    &:last-of-type{
                        right: 0;
                    }
                    position: absolute;
                    width: 20%;
                }

                span{
                    display: inline-block;
                    line-height: 30px;
                    text-align: center;
                    width: 100%;
                }
            }

            h1{
                border-bottom: 1px solid $accent;
                font-size: 1em;
            }

            p{
                margin: 10px 0;
            }
        }
    }
}

#basket{
    background: $accent;
    color: white;
    text-align: right;
    padding: 10px;
    position: fixed;
    top: 60px;
    width: 100%;

    span{
        padding: 0 1px;
        &.currency{
                background-image : url("../img/cart4.svg");
                background-repeat: no-repeat;
                padding-left: 30px;
        }
        &.total{
                display: inline-block;
                line-height: 20px;
                text-align: left;
                min-width: 50px;
        }
    }

}

#checkout{
    position: fixed;
	z-index: 999;
	width: 100%;
	min-height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);

    h1{
        margin: 5px;
    }

    button{
        border-radius: 50%;
        height: 30px;
        right: -15px;
        position: absolute;
        top: -15px;
        width: 30px;
    }

    & > div{
        background: white;
        display: table;
        height: 90%;
        padding: 10px 20px;
        position: relative;
        margin: 30px auto;
        max-width: 400px;
        width: 80%;

        .item, .purchases{
            border-bottom: 1px solid $accent;
            display: table-cell;
            padding-bottom: 10px;
            vertical-align: middle;
        }

        .total, .total-string{
            border-top: 3px double $accent;
            display: table-cell;
            padding: 10px;
            text-align: center;
        }

        .total{
            width: 40%;
        }

        ul{
            list-style: none;
            width: 100%;

            li{
                display: table-row;
                width: 100%;

                &.no-items{
                    display: block;
                    margin-bottom: 20px;

                    + li{
                        display: block;

                        div{
                            display: block;
                            float: left;
                            width: 50%;
                        }
                    }
                }

                h1{
                    font-size: 14px;
                }
                
                img{
                    height: auto;
                    width: 20%;
                }
            }
        }
    }
}

#country-selector{
    clear: both;
    label{
        padding: 0 10px;
    }
    select{
        padding: 10px;
        margin: 10px auto;
    }
}